       .container {
            display: flex;
            flex-flow: row wrap;
            flex-wrap: wrap;
            justify-content: space-around;
            padding: 0;
            margin: 0 auto;
            list-style: none;
            width: 80%;
            gap: 0;
        }
        .flex-item {
            flex: 0 0 calc(100% / var(--grid-size, 16));
            background-color: black;
            margin: 0;
            padding: 0;
            aspect-ratio: 1 / 1;
        }
 